<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/280px-Tux.svg.png" width=20% align='right'>

# Podstawy uzytkowania
# systemow komputerowych

Jakub Spiechowicz

Laboratorium 11, sed & AWK

# Stream editor

Sed (stream editor) sluzy do przetwarzania strumienia wejsciowego w formie pliku lub stdin.

sed polecenie plik

Opcje

* -n domyslnie przetworzone dane nie sa wypisywane na stdout
* -e instrukcja plik ciag instrukcji przekazany jako argument wywolania
* -f instrukcja_plik plik instrukcja_plik zawiera program z instrukcjami dla seda
* -i tryb edycji w locie

# Podstawy

Podstawowa instrukcja programu sed

[adres,[adres]...] instrukcja [argument]

* Adres jest opcjonalny, w przypadku jego braku sed przetwarza cale wejscie
* Instrukcja to polecenie, ktore modyfikuje (przetwarza) strumien
* Argument jest opcjonalny, modyfikuje dzialanie dane instrukcji

Ciag polecen programu sed

instrukcja1; instrukcja2; ...

[adres,[adres]] instrukcja [argument]

sed dziala w nastepujacej petli zaczynajac od poczatku wejscia

1. Wczytuje jedna linie wejscia (stdin/plik)
2. Wczytuje instrukcje w trybie sekwencyjnym. Jesli wprowadzone adresy wybieraja aktualna linie to sed wykonuje na niej wczytana instrukcje.
3. Wczytuje kolejna linie az do konca wejscia.

# Adresowanie

[adres, [adres]...]

* n n-ta linia wejscia
* n,m od n-tej linii do m-tej
* \$ ostatnia linia
* n,\$ od n-tej linii do ostatniej
* /regex/ wszystkie linie zawierajace regex
* /regex1/,/regex2/ od wiersza zawierajacego regex1 do wiersza zawierajacego regex2
* /regex/,\$ od wiersza zawierajacego regex do konca wejscia

# Instrukcje

* a (append) dodanie lancucha znakow na koncu aktualnie przetwarzanej linii
* c (change) modyfikuje aktualnie przetwazana linie
* d (delete) usuwa aktualna linie
* i (insert) odpowiednik append, ale dla poczatku aktualnej linii
* p (print) wypisuje aktualna linie na stdout
* s (substitute) s/regex/string/opcja zastepuje regex w aktualnej linii przez string, opcje:
    * g (global) wykonaj instrukcje dla wszystkich wystapien regex w obrebie wybranego adresowania

Przyklady

In [1]:
cat lines

Line one.
The second line.
The third.
This is line four.
Five.
This is the sixth sentence.
This is line seven.
Eighth and last.

In [3]:
sed '/line/ p' lines

Line one.
The second line.
The second line.
The third.
This is line four.
This is line four.
Five.
This is the sixth sentence.
This is line seven.
This is line seven.
Eighth and last.

In [4]:
sed -n '/line/ p' lines

The second line.
This is line four.
This is line seven.

In [7]:
sed -n '3,6 p' lines

The third.
This is line four.
Five.
This is the sixth sentence.

In [13]:
sed -n '5 q' lines

Line one.
The second line.
The third.
This is line four.
Five.

In [16]:
sed '2 a\AFTER' lines

Line one.
The second line.
AFTER
The third.
This is line four.
Five.
This is the sixth sentence.
This is line seven.
Eighth and last.

In [17]:
sed '/This/ i\BEFORE' lines

Line one.
The second line.
The third.
BEFORE
This is line four.
Five.
BEFORE
This is the sixth sentence.
BEFORE
This is line seven.
Eighth and last.

In [30]:
sed '2,4 c\SED\nSED\nSED' lines

Line one.
SED
SED
SED
Five.
This is the sixth sentence.
This is line seven.
Eighth and last.

In [31]:
sed -n 's/line/sentence/ p' lines

The second sentence.
This is sentence four.
This is sentence seven.

In [37]:
sed -n 's/This/that/ ;s/that/That/ p' lines

That is line four.
That is the sixth sentence.
That is line seven.

In [39]:
sed -n 's/That/that/ ;s/This/that/ p' lines

that is line four.
that is the sixth sentence.
that is line seven.

In [41]:
sed 's/^/\t/ ' lines

	Line one.
	The second line.
	The third.
	This is line four.
	Five.
	This is the sixth sentence.
	This is line seven.
	Eight and last.

In [43]:
sed 's/^This/\t&/ ' lines

Line one.
The second line.
The third.
	This is line four.
Five.
	This is the sixth sentence.
	This is line seven.
Eight and last.

# AWK

Stworzony przez A. Aho, P. Weinbergera oraz B. Kernighana jezyk programowania, ktorego zastosowaniem jest przetwarzanie wzorcow w strumieniach danych. Wyszukuje linie zawierajace wzorzec i wykonuje na nich rozmaite operacje, np. wypisuje je na stdout albo je zlicza.

awk program plik

opcje

* -F separator, ustawia separator pol
* -f program_plik plik, wczytuje program_plik z instrukcjami dla awk
* -v zmienna=wartosc, inicjalizuje zmienna o wartosci wartosc przed wykonaniem programu

# Podstawy

Najprostszy program AWK wyglada nastepujaco:

wzorzec { akcja }

* Wzorzec wybiera odpowiednie linie strumienia wejsciowego, brak oznacza cala zawartosc
* AWK wykonuje akcje na wszystkich liniach pasujacych do wzorca, brak oznacza print stdout

Dziala w trybie sekwencyjnym, podobnie jak sed.

# Wzorce i akcje

Wzorzec

* /regex/
* /regex/,/regex/
* wyrazenie relacyjne
* polaczenie powyzszych mozliwosci

operatory <, <=, ==, !=, >=, > oraz &&, ||, ~, !~

Akcja

* standardowo { print }
    * obsluguje zmienne i przeadresowanie w formie >, >>, |
* printf (c style, przeadresowanie)
    * %c, %d, %f, %e etc.

# Zmienne i operatory

* \$0 aktualnie przetwarzana linia
* \$n n-te pole biezacej linii
* FILENAME nazwa aktualnego pliku
* FS separator pol (domyslnie spacja)
* NF liczba pol aktualnej lini
* NR numer aktualnej linii
* RS sepator linii
* OFS, ORS j.w., ale odnosza sie do strumienia wyjsciowego
* tablice asocjacyjne (slowniki) tablica[klucz] = wartosc

\*\*, \*, /, %, +, -, =, ++, --, +=, -=, *=, /=, %=

# Funkcje

* length(str)
* int(num)
* index(str1,str2) zwraca indeks str2 w str1 lub 0 jesli nie str1 nie wystepuje
* split(str,arr,del) zwraca tablice arr (arr[1], ..., arr[n]) z lancuchami zawartymi w str oddzielonymi del
* substr(str,pos,len)
* tolower(str)
* toupper(str), etc.

# Instrukcje sterujace

if (warunek)  
$\quad${akcja}  
[else  
$\quad${akcja}]

while (warunek)  
$\quad${akcja}

for (zmienna; warunek; inkrement)  
$\quad${akcja}

break, continue

Przyklady

In [13]:
awk '{print}' cars

plym fury 1970 73 2500
chevy malibu 1999 60 3000
ford mustang 1965 45 10000
volvo s80 1998 102 9850
ford thundbd 2003 15 10500
chevy malibu 2000 50 3500
bmw 325i 1985 115 450
honda accord 2001 30 6000
ford taurus 2004 10 17000
toyota rav4 2002 180 750
chevy impala 1985 85 1550
ford explor 2003 25 9500

In [48]:
awk '/chevy/' cars

chevy malibu 1999 60 3000
chevy malibu 2000 50 3500
chevy impala 1985 85 1550

In [50]:
awk '{print $3, $1}' cars | head -3

1970 plym
1999 chevy
1965 ford

In [51]:
awk '/chevy/ {print $3, $1}' cars

1999 chevy
2000 chevy
1985 chevy

In [52]:
awk '/h/' cars

chevy malibu 1999 60 3000
ford thundbd 2003 15 10500
chevy malibu 2000 50 3500
honda accord 2001 30 6000
chevy impala 1985 85 1550

In [53]:
awk '$1 ~ /h/' cars

chevy malibu 1999 60 3000
chevy malibu 2000 50 3500
honda accord 2001 30 6000
chevy impala 1985 85 1550

In [54]:
awk '$1 ~ /^h/' cars

honda accord 2001 30 6000

In [58]:
awk '$2 ~ /^[tm]/ {print $3, $2, "$"$5}' cars

1999 malibu $3000
1965 mustang $10000
2003 thundbd $10500
2000 malibu $3500
2004 taurus $17000

In [60]:
awk '$3 ~ /5$/ { print $3, $1, "$"$5}' cars

1965 ford $10000
1985 bmw $450
1985 chevy $1550

In [61]:
awk '$3 == 1985' cars

bmw 325i 1985 115 450
chevy impala 1985 85 1550

In [62]:
awk '$5 <= 3000' cars

plym fury 1970 73 2500
chevy malibu 1999 60 3000
bmw 325i 1985 115 450
toyota rav4 2002 180 750
chevy impala 1985 85 1550

In [63]:
awk '2000 <= $5 && $5 < 9000' cars

plym fury 1970 73 2500
chevy malibu 1999 60 3000
chevy malibu 2000 50 3500
honda accord 2001 30 6000

In [64]:
awk '/volvo/,/bmw/' cars

volvo s80 1998 102 9850
ford thundbd 2003 15 10500
chevy malibu 2000 50 3500
bmw 325i 1985 115 450

In [65]:
awk '/chevy/,/ford/' cars

chevy malibu 1999 60 3000
ford mustang 1965 45 10000
chevy malibu 2000 50 3500
bmw 325i 1985 115 450
honda accord 2001 30 6000
ford taurus 2004 10 17000
chevy impala 1985 85 1550
ford explor 2003 25 9500

In [1]:
awk 'length > 24 {print NR}' cars

2
3
5
6
8
9
11

In [2]:
awk 'NR == 2, NR == 4' cars

chevy malibu 1999 60 3000
ford mustang 1965 45 10000
volvo s80 1998 102 9850

In [1]:
awk '{manuf[$1]++} END {for (name in manuf) print name, manuf[name]}' cars | sort

bmw 1
chevy 3
ford 4
honda 1
plym 1
toyota 1
volvo 1

In [12]:
awk 'BEGIN {sum = 0}\
    {sum+=$5}\
    {print NR, sum}\
    END {print "Mean =", sum/NR, "$"}' cars

1 2500
2 5500
3 15500
4 25350
5 35850
6 39350
7 39800
8 45800
9 62800
10 63550
11 65100
12 74600
Mean = 6216.67 $

In [16]:
awk '$1 == "chevy" {print $0}' cars

chevy malibu 1999 60 3000
chevy malibu 2000 50 3500
chevy impala 1985 85 1550

In [6]:
awk -F: 'length($2)==0 {print $1}' /etc/passwd